<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body bgcolor="#58585C">
        <!-- EMAIL HEADING -->
        <table bgcolor="#fff" align="center" cellpadding="0" width="600px" style="max-width: 600px;">
            <tr>
                <td>
                    <img src="./assets/topper 1.png" alt="Email heading that reads 'The Resy Lineup New York', 'RESY, Right this way"> 
                </td>
            </tr>            
        <!-- INTRO -->
             <tr>
                <td style="font-family: Helvetica, sans-serif; font-size: 24px; color: #58585C; line-height: 36px; padding: 60px;">
                    Welcome to the Resy Lineup, your weekly dose of recommendations on what to eat, drink, and see. In this week’s edition: a tavern with an improbable wine list, a farewell to a proper New York stanby, and a food crawl through Chinatown.
                </td>
            </tr>
        <!-- WHAT TO EAT AND DRINK -->
            <tr>
                <td>
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none;">
                    <img src="./assets/What to Eat & Drink 1.png" alt="What to Eat and Drink" style="display: block; margin: 0 auto;">
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none;">
                    <img src="./assets/marie off white revised 1.png" alt="A group of six diners chatting around a table" style="display: block; margin: 0 auto;">                   
                </td>
            </tr>
            <tr>
                <td style="display: block; width: 540px; margin: 40px auto; box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);">
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none; margin-top: -1px;">
                    <h3 style="font-family: Helvetica, sans-serif; font-size: 24px; color: #FF341A; padding-left: 30px; margin-bottom: 14px;">The Restaurant Recommendation</h3>
                    <p style="font-family: Helvetica, sans-serif; font-size: 20px; color: #58585C; line-height: 32px; padding-left: 30px; margin: 0;">Chaiwali, because after a two-year renovation, Harlem’s excellent Indian restaurant has reopened — and the butter chicken is among the best takes the city has ever known.</p>
                    <button style="width: 180px; height: 50px; border: none; border-radius: 5px; background-color: #336DDE; margin: 30px; font-family: Helvetica, sans-serif; font-size: 18px; font-weight: 700; color: #ffffff; text-align: center;">Book Now</button>
                </td>
            </tr>
        <!-- HONORABLE MENTIONS  -->
            <tr>
                <td>
                    <table bgcolor="#FEF8D5" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td align="center" bgcolor="#FEF8D5" cellspacing="0">
                                <h2 style="font-family: Helvetica, sans-serif; font-size: 31px; color: #FF341A;">Honorable Mentions</h2>
                            </td>
                        </tr>
        <!-- JINJA TEMPLATE -->
                        <tr align="center" valign="center">
                            {% for restaurant_id in contact.recommended_ids %}
                            <td style="display: inline-block; background-color: #ffffff; width: 256px; border: 1px solid #CBCBCB; margin: 0 11px 29px;">
                                <img src="{{ lookups.recommended_restaurants[restaurant_id].thumbnail }}" alt="" style="display: block; margin: 15px auto; width: 234px; height: 203px; object-fit: contain;">
                                <p style="font-family: Helvetica, sans-serif; font-size: 24px; color: #58585C; text-align: center; margin: 0;">{{ lookups.recommended_restaurants[restaurant_id].name }}</p>
                                <a href="{{ lookups.recommended_restaurants[restaurant_id].url }}" style="border: none; background-color: transparent; font-family: Helvetica, sans-serif; font-size: 24px; font-weight: 700; color: #336DDE; text-align: center; display: block; margin: 0 auto 20px; text-decoration: none;">Book Now</a>
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
        <!-- THE DRINK PROPOSAL -->
            <tr>
                <td style="display: block; width: 540px; margin: 40px auto 20px; box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);">
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none; margin-top: -1px;">
                    <h3 style="font-family: Helvetica, sans-serif; font-size: 24px; color: #FF341A; padding-left: 30px; margin-bottom: 14px;">The Drink Proposal</h3>
                    <p style="font-family: Helvetica, sans-serif; font-size: 20px; color: #58585C; line-height: 32px; padding-left: 30px; margin: 0;">A bottle of Château Moulin de Tricot Margaux from Red Hook Tavern. The old-school Bordeaux is one of the many stellar offerings from the Tavern’s thoughtful wine program.</p>
                    <button style="width: 180px; height: 50px; border: none; border-radius: 5px; background-color: #336DDE; margin: 30px; font-family: Helvetica, sans-serif; font-size: 18px; font-weight: 700; color: #ffffff; text-align: center;">Cheers!</button>
                </td>
            </tr>
        <!-- THE SPLURGE -->
            <tr>
                <td style="display: block; width: 540px; margin: 20px auto 40px; box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);">
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none; margin-top: -1px;">
                    <h3 style="font-family: Helvetica, sans-serif; font-size: 24px; color: #FF341A; padding-left: 30px; margin-bottom: 14px;">The Splurge</h3>
                    <p style="font-family: Helvetica, sans-serif; font-size: 20px; color: #58585C; line-height: 32px; padding-left: 30px; margin: 0;">The outdoor omakase at Kintsugi ($95) serves impeccable sashimi alongside classic and seasonal nigiri. The procession is led by sushi chef John Daley, whose resume includes a stint at renowned Tokyo spot, Sukeroku.</p>
                    <button style="width: 180px; height: 50px; border: none; border-radius: 5px; background-color: #336DDE; margin: 30px; font-family: Helvetica, sans-serif; font-size: 18px; font-weight: 700; color: #ffffff; text-align: center;">Let's Get Fancy</button>
                </td>
            </tr>
        <!-- WHAT TO SEE AND DO -->
            <tr>
                <td>
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none;">
                    <img src="./assets/What to See & Do 1.png" alt="What to See and Do" style="display: block; margin: 0 auto;">
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none;">
                    <img src="./assets/Restaurant-Storefront 1.png" alt="The restaurant's storefront, with three clients inside and an employee behind the service bar" style="display: block; margin: 0 auto;">
                </td>
            </tr>
        <!-- THE STAY AT HOME MOVE -->
            <tr>
                <td style="display: block; width: 540px; margin: 40px auto; box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);">
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none; margin-top: -1px;">
                    <h3 style="font-family: Helvetica, sans-serif; font-size: 24px; color: #FF341A; padding-left: 30px; margin-bottom: 14px;">The Stay-At-Home Move</h3>
                    <p style="font-family: Helvetica, sans-serif; font-size: 20px; color: #58585C; line-height: 32px; padding-left: 30px; margin: 0;">It’s movie night and you’ve got your go-to pizza joint on speed dial, but why not try Lebanon’s spin on the pie? In the East Village, Balade kneads fresh dough for its manakeesh — a bready, chewy 8-inch disc topped with goodness (get the wild zaatar or the lahme baajin).</p>
                    <button style="width: 180px; height: 50px; border: none; border-radius: 5px; background-color: #336DDE; margin: 30px; font-family: Helvetica, sans-serif; font-size: 18px; font-weight: 700; color: #ffffff; text-align: center;">Order Now</button>
                </td>
            </tr>
        <!-- THE EVENT INVITE -->
            <tr>
                <td>
                    <table cellspacing="0" align="center" width="100%">
                        <tr bgcolor="#e6f2ec">
                            <td>
                                <img src="./assets/Oui-Chef 1.png" alt="Chef walking with a tray in hand that contains a spaghetti dish and an ice cream cup." style="margin: 34px 40px 80px 58px;">
                            </td>
                            <td style="display: inline-block; margin: 30px 33px 30px 0;">
                                <h3 style="font-family: Helvetica, sans-serif; font-size: 24px; color: #FF341A; margin: 0;">The Event Invite</h3>
                                <p style="font-family: Helvetica, sans-serif; font-size: 20px; color: #58585C; line-height: 32px; text-align: left; margin: 9px 0 21px;">Thursday, August 27 marks the end of Bar Sardine, and you’re invited to bid adieu to this corner fixture the only way you should: with a platter of oysters, a round (or two) of cocktails, and your last Fedora burger.</p>
                                <button style="border: none; background-color: transparent; font-family: Helvetica, sans-serif; font-size: 24px; font-weight: 700; color: #336DDE; text-align: left; margin: 0; padding: 0;">Book Now</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        <!-- THE WEEKEND PAIRING -->
            <tr>
                <td style="display: block; width: 540px; margin: 40px auto; box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);">
                    <hr style="width: 540px; height: 1px; background-color: #FF341A; border: none; margin-top: -1px;">
                    <h3 style="font-family: Helvetica, sans-serif; font-size: 24px; color: #FF341A; padding-left: 30px; margin-bottom: 14px;">The Weekend Pairing</h3>
                    <p style="font-family: Helvetica, sans-serif; font-size: 20px; color: #58585C; line-height: 32px; padding-left: 30px; margin: 0;">There’s no better activity for a sunny weekend than food crawling in Chinatown. The last stretch of Mott Street has been closed for outdoor dining, meaning you can sample your way through dim sum, soup dumplings, and stir-fried lobster, among other tasty things.</p>
                    <button style="width: 180px; height: 50px; border: none; border-radius: 5px; background-color: #336DDE; margin: 30px; font-family: Helvetica, sans-serif; font-size: 18px; font-weight: 700; color: #ffffff; text-align: center;">Dumplings Await</button>
                </td>
            </tr>
        <!-- TIPLINE CREATIVE -->
            <tr align="center" style="display:block; width: 540px; height: 330px; background-color: #686868; margin: 0 auto 40px;">
                <td>
                    <h3 style="font-family: Helvetica, sans-serif; font-size: 31px; color: #fff; margin: 148px auto; ">From the Tipline Creative </h3>
                </td>
            </tr>
        <!-- RESY APP -->
            <tr>
                <td align="center">
                    <img src="./assets/Resy App.png" alt="Dont't have the Resy App? Get instant access to the best restaurants. Download on the Apple Store. Get it on Google Play." style="border: 2px solid #FF341A; ">
                </td>
            </tr>
        <!-- FOLLOW RESY -->
            <tr>
                <td>
                    <h3 style="font-family: Helvetica, sans-serif; font-size: 24px; color: #58585C; margin: 25px 40px;">Follow Along <span style="color: #FF341A;">@Resy</span></h3>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center">
                        <tr>
                            <td><img src="./assets/img1.png" alt="From Resy's Instagram, an Instagram recorded transmission with the Stir Fried Rice Cakes BLT recipe from chef Danny Bowien."></td>
                            <td><img src="./assets/img2.png" alt="An Instagram post showing a special ham sandwich from the Petit Trois restaurant in Los Angeles."></td>
                            <td><img src="./assets/img3.png" alt="Patrick Mock, 46 Mott Bakery manager in New York City, talking about keeping Chinatown alive."></td>
                            <td><img src="./assets/img4.png" alt="To-go takes, where chefs get takeout, featuring Emily Hyland of Emmy Squared"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        <!-- EMAIL FOOTER  -->
            <tr>
                <td>
                    <img src="./assets/social media.png" alt="Resy, right this way. Instagram, Twitter and Facebook.">
                </td>
            </tr>
            <tr>
                <td align="center" style="font-family: Helvetica, sans-serif; font-size: 21px; color: #58585C; line-height: 39px;">
                    This marketing message was sent to you by Resy. 
                    <br>
                    Manage preferences | Unsubscribe 
                    <br>
                    <br>
                    © 2020 Resy Network, Inc. 
                    <br>
                    Resy | 520 Broadway, Floor 8 | New York, NY 10012 | 
                    <br>
                    United States
                    <br> 
                    Questions? Email support@resy.com
                </td>
            </tr>
        </table>
    </body>
</html>